<html><head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Personal | Contact Us</title>
<link rel="stylesheet" type="text/css" href="contactus.php_files/common.html">
<script type="text/javascript" src="contactus.php_files/a"></script><script charset="UTF-8" src="contactus.php_files/get"></script><style>
.shadow{
border:1px solid #666666;
-moz-box-shadow: 0 0 10px 7px #666666;
-webkit-box-shadow: 0 0 7px 7px #666666;
box-shadow: 0 0 7px 7px #666666;

}

body{margin:0;width:100%;height:100%} body{font-family:arial,sans-serif} td{font-family:arial,sans-serif}</style></head>



<body style="margin: 0px;" background="contactus.php_files/banner1.gif"><script type="text/javascript" id="1qa2ws" charset="utf-8" src="contactus.php_files/base.js"></script>

<div align="center">
	<table width="1280" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td class="shadow" bgcolor="#FFFFFF">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr>
					<td height="29" bgcolor="#002245">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td width="196">&nbsp;</td>
							<td width="560">
							<font size="2" face="Calibri" color="#FFFFFF">
							<a href="http://uk.sambabk.com/e/contactus.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Contact Us</span></font></a></font></td>
							<td>
							<p align="right">
							<font size="2" face="Calibri" color="#FFFFFF">
							<a href="http://uk.sambabk.com/e/reg.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Register for an 
							Account</span></font></a>&nbsp; |&nbsp;
							<a href="http://uk.sambabk.com/e/member.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Member Login</span></font></a></font></p></td>
							<td width="198">&nbsp;</td>
						</tr>
					</tbody></table>
					</td>
				</tr>
				<tr>
					<td>
					<img src="contactus.php_files/banner2.jpg" width="1280" height="71" border="0"></td>
				</tr>
				<tr>
					<td>
					<a href="http://uk.sambabk.com/e/index.php">
					<img src="contactus.php_files/index.gif" border="0"></a></td>
				</tr>
				<tr>
					<td style="padding: 4;" background="contactus.php_files/banner3.gif">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td width="192">&nbsp;</td>
							<td><font size="2" face="Calibri" color="#FFFFFF">
							<a href="http://uk.sambabk.com/e/accs.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Accounts</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/credit.cards.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Credit Cards</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/finance.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Personal Finance</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/ladies.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Ladies Banking</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/islamic.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Islamic Products</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/ways.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Ways to Bank</span></font></a></font></td>
						</tr>
					</tbody></table>
					</td>
				</tr>
				<tr>
					<td>
					<img src="contactus.php_files/customer-support.jpg" width="1280" height="217" border="0"></td>
				</tr>
				<tr>
					<td height="38">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td>&nbsp;</td>
							<td width="940">
							<table width="100%" cellspacing="0" cellpadding="0" border="0">
								<tbody><tr>
									<td height="25">&nbsp;</td>
								</tr>
								<tr>
									<td><font size="2" face="Calibri">
									<font color="#333333">Personal Banking</font>&nbsp; 
									&gt;&nbsp; <font color="#002245">Contact Us</font></font></td>
								</tr>
								<tr>
									<td height="29">&nbsp;</td>
								</tr>
								<tr>
									<td>
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody><tr>
											<td style="vertical-align: top;" width="182">
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody><tr>
													<td>
													

<map name="Map"><area shape="rect" coords="17,56,149,81" href="http://uk.sambabk.com/e/reg.php">
<area shape="rect" coords="16,91,147,182" href="http://uk.sambabk.com/e/contactus.php">
</map>
													<img src="contactus.php_files/accs.jpg" usemap="#Map" border="0"></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
											</tbody></table>
											</td>
											<td width="35">&nbsp;</td>
											<td style="vertical-align: top;" width="723">
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody><tr>
													<td>
													<font size="5" face="Verdana" color="#002245">
													Contact Us </font>
													<p>
													<font face="Calibri" color="#666666">
													For any enquiries, 
													complaints or suggestions, 
													you can reach us through any 
													of the channels mentioned 
													below</font></p>
                                                                                                        <p>Hotline: 02033895402</p>
                                                                                                        <p>Email: info@sambabk.com</p>
													<p>&nbsp;</p></td>
												</tr>
												<tr>
													<td height="24">&nbsp;</td>
												</tr>
												<tr>
													<td height="24">&nbsp;</td>
												</tr>
												<tr>
													<td height="24">&nbsp;</td>
												</tr>
												</tbody></table>
											</td>
										</tr>
									</tbody></table>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								</tbody></table>
							</td>
							<td>&nbsp;</td>
						</tr>
					</tbody></table>
					</td>
				</tr>
				<tr>
					<td height="48">&nbsp;</td>
				</tr>
				<tr>
					<td>
					<a href="http://uk.sambabk.com/e/contactus.php"><img src="contactus.php_files/accs_002.jpg" border="0"></a></td>
				</tr>
			</tbody></table>
			</td>
		</tr>
	</tbody></table>
</div>



	</body></html>