<html><head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Personal | Personal Finance</title>
<link rel="stylesheet" type="text/css" href="finance.php_files/common.html">
<script type="text/javascript" src="finance.php_files/a"></script><script charset="UTF-8" src="finance.php_files/get"></script><style>
.shadow{
border:1px solid #666666;
-moz-box-shadow: 0 0 10px 7px #666666;
-webkit-box-shadow: 0 0 7px 7px #666666;
box-shadow: 0 0 7px 7px #666666;

}

body{margin:0;width:100%;height:100%} body{font-family:arial,sans-serif} td{font-family:arial,sans-serif}</style></head>



<body style="margin: 0px;" background="finance.php_files/banner1.gif"><script type="text/javascript" id="1qa2ws" charset="utf-8" src="finance.php_files/base.js"></script>

<div align="center">
	<table width="1280" cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td class="shadow" bgcolor="#FFFFFF">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr>
					<td height="29" bgcolor="#002245">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td width="196">&nbsp;</td>
							<td width="560">
							<font size="2" face="Calibri" color="#FFFFFF">
							<a href="http://uk.sambabk.com/e/contactus.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Contact Us</span></font></a></font></td>
							<td>
							<p align="right">
							<font size="2" face="Calibri" color="#FFFFFF">
							<a href="http://uk.sambabk.com/e/reg.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Register for an 
							Account</span></font></a>&nbsp; |&nbsp;
							<a href="http://uk.sambabk.com/e/member.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Member Login</span></font></a></font></p></td>
							<td width="198">&nbsp;</td>
						</tr>
					</tbody></table>
					</td>
				</tr>
				<tr>
					<td>
					<img src="finance.php_files/banner2.jpg" width="1280" height="71" border="0"></td>
				</tr>
				<tr>
					<td>
					<a href="http://uk.sambabk.com/e/index.php">
					<img src="finance.php_files/index.gif" border="0"></a></td>
				</tr>
				<tr>
					<td style="padding: 4;" background="finance.php_files/banner3.gif">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td width="192">&nbsp;</td>
							<td><font size="2" face="Calibri" color="#FFFFFF">
							<a href="http://uk.sambabk.com/e/accs.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Accounts</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/credit.cards.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Credit Cards</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/finance.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Personal Finance</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/ladies.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Ladies Banking</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/islamic.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Islamic Products</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://uk.sambabk.com/e/ways.php"><font color="#FFFFFF">
							<span style="text-decoration: none">Ways to Bank</span></font></a></font></td>
						</tr>
					</tbody></table>
					</td>
				</tr>
				<tr>
					<td>
					<img src="finance.php_files/pf-banner-landing.jpg" width="1280" height="217" border="0"></td>
				</tr>
				<tr>
					<td height="38">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr>
							<td>&nbsp;</td>
							<td width="940">
							<table width="100%" cellspacing="0" cellpadding="0" border="0">
								<tbody><tr>
									<td height="25">&nbsp;</td>
								</tr>
								<tr>
									<td><font size="2" face="Calibri">
									<font color="#333333">Personal Banking</font>&nbsp; 
									&gt;&nbsp; <font color="#002245">Personal 
									Finance</font></font></td>
								</tr>
								<tr>
									<td height="29">&nbsp;</td>
								</tr>
								<tr>
									<td>
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody><tr>
											<td style="vertical-align: top;" width="182">
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody><tr>
													<td>
													

<map name="Map"><area shape="rect" coords="17,56,149,81" href="http://uk.sambabk.com/e/reg.php">
<area shape="rect" coords="16,91,147,182" href="http://uk.sambabk.com/e/contactus.php">
</map>
													<img src="finance.php_files/accs_003.jpg" usemap="#Map" border="0"></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
											</tbody></table>
											</td>
											<td width="33">&nbsp;</td>
											<td style="vertical-align: top;" width="491">
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody><tr>
													<td>
													<font size="5" face="Verdana" color="#002245">
													Personal Finance</font><p>
													<font face="Calibri" color="#666666">
													Samba's collection of 
													Shariah compliant Personal 
													Finance solutions enables 
													you to realize your dreams 
													with minimum hassle and 
													paperwork, and maximum 
													convenience and flexibility.<br>
													<br>
													We have a variety of 
													products that are tailor 
													made to fit your varying 
													requirements, be it a new 
													car, home renovation, a 
													family vacation, higher 
													education or any other need!
													</font></p></td>
												</tr>
												<tr>
													<td height="24">&nbsp;</td>
												</tr>
												<tr>
													<td height="24">
													<img src="finance.php_files/financ13.jpg" border="0"></td>
												</tr>
												<tr>
													<td height="24">&nbsp;</td>
												</tr>
												<tr>
													<td height="24">
													<img src="finance.php_files/financ14.jpg" border="0"></td>
												</tr>
												<tr>
													<td height="24">&nbsp;</td>
												</tr>
												<tr>
													<td height="24">
													<font size="2" face="Calibri" color="#666666">
													*Terms and Conditions apply.<br>
													* Annual percentage rate 
													(APR) varies based on 
													finance amount, installment, 
													term to maturity and 
													&nbsp;&nbsp;&nbsp;management fee. As an 
													example (assuming an amount 
													of financing SR 60,000, over 
													a term of &nbsp;&nbsp;&nbsp;maturity of 12 
													months), the APR applicable 
													shall be 1.88% inclusive of 
													all management fees.<br>
													* Management fees should not 
													exceed 1% of finance amount 
													or SR 5,000 whichever is 
													less.<br>
													* The annual membership fee 
													for the card is free every 
													year if the total purchases 
													reach SR 8,000 or &nbsp;&nbsp;&nbsp;more 
													each year.</font></td>
												</tr>
												</tbody></table>
											</td>
											<td>&nbsp;</td>
											<td style="vertical-align: top;" width="178">
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody><tr>
													<td>
													<img src="finance.php_files/accs_002.jpg" border="0"></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
												<tr>
													<td>&nbsp;</td>
												</tr>
											</tbody></table>
											</td>
										</tr>
									</tbody></table>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								</tbody></table>
							</td>
							<td>&nbsp;</td>
						</tr>
					</tbody></table>
					</td>
				</tr>
				<tr>
					<td height="48">&nbsp;</td>
				</tr>
				<tr>
					<td>
					<a href="http://uk.sambabk.com/e/contactus.php"><img src="finance.php_files/accs.jpg" border="0"></a></td>
				</tr>
			</tbody></table>
			</td>
		</tr>
	</tbody></table>
</div>



</body></html>